$breakpoint-phone-xs: 320px;
$breakpoint-phone-sm: 375px;
$breakpoint-phone-md: 414px;
$breakpoint-phone-lg: 568px;
$breakpoint-phone-xl: 667px;
$breakpoint-tablet-sm: 736px;
$breakpoint-tablet-md: 834px;
$breakpoint-tablet-lg: 1024px;
$breakpoint-tablet-xl: 1112px;
$breakpoint-desktop-sm: 1366px;
$breakpoint-desktop-md: 1440px;
$breakpoint-desktop-lg: 1680px;
$breakpoint-desktop-xl: 1920px;