<div class="content" role="main">
  <header>
    <mat-toolbar color="primary">
      <span>Keyfactor test</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </header>
  
  <body>
    <mat-tab-group >
      <mat-tab label="Certificados"> <app-certificate-list></app-certificate-list> </mat-tab>
      <mat-tab label="Usuarios" disabled> This section is currently not available </mat-tab>
      <mat-tab label="Configuración" disabled> This section is currently not available </mat-tab>
    </mat-tab-group>
  </body>

  <div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.linkedin.com/in/ing-ameliabg/"><i class="icon ion-social-linkedin"></i></a></div>
        <p class="copyright">Developer Amelia Brito Giampaolo © 2022</p>
    </footer>
  </div>
</div>
